section {
    background-color: rgb(68, 66, 66);
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    
}

h1, p, h2 {
    color: white;
}

ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}

.card_main {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(116, 116, 209);
}

.card_main:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(131, 57, 160);
}

.card_recovered:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(60, 168, 50);
}

.card_confirmed:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(57, 160, 155);
}

.card_deaths:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(160, 57, 57);
}

.card_active:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(177, 138, 31);
}

.card_updated:hover {
    height: 150px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background-color: rgb(182, 207, 38);
}

.card_name{
    font-size: 25px;
    font-weight: bold;
}

.card_name span {
    font-size: 15px;
}

.card_total {
    font-size: 20px;
    font-weight: bold;

}
